<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Instructions</h3>
        </div>
        <div class="modal-body">
            <h4>Combine numbers at the top of the tree to reach numbers at the bottom!</h4>
            <br>
            <div class="pull-left">

                <span class="nodeBoxSample btn-group btn-group-vertical">
                    <button class="btn btn-success node" disabled="disabled">2</button>
                </span>
                <span class="nodeBoxSample btn-group btn-group-vertical">
                    <button class="btn btn-success node" disabled="disabled">7</button>
                </span>

                <br>

                <span class="nodeBoxSample btn-group btn-group-vertical">
                    <select id="sampleOp1" class="form-control op">
                        <option value=""></option>
                        <option value="{{addSymbol}}">{{addSymbol}}</option>
                        <option value="{{subSymbol}}">{{subSymbol}}</option>
                        <option value="{{multSymbol}}">{{multSymbol}}</option>
                        <option value="{{divSymbol}}">{{divSymbol}}</option>
                    </select>
                    <button id="sampleNode1" class="btn btn-default node"></button>
                </span>

            </div>

            <p>
                Add, subtract, multiply, or divide - choose which operation works best but remember that operations are always evaluated left to right.
            </p>

            <p>
                Every game starts out with 20,000 points.
            </p>

            <p>
                Each move costs 100 points. Each incorrect calculation costs 500 points.
            </p>

            <p>
                The game ends either when the entire board is filled and all the math is correct or when the points run out.
            </p>

            <div class="pull-right">

                <span class="nodeBoxSample btn-group btn-group-vertical">
                    <button class="btn btn-default node" disabled="disabled">56</button>
                </span>
                <span class="nodeBoxSample btn-group btn-group-vertical">
                    <button id="sampleNode3" class="btn btn-default node"></button>
                </span>

                <br>

                <span class="nodeBoxSample btn-group btn-group-vertical">
                    <select id="sampleOp2" class="form-control op">
                        <option value=""></option>
                        <option value="{{addSymbol}}">{{addSymbol}}</option>
                        <option value="{{subSymbol}}">{{subSymbol}}</option>
                        <option value="{{multSymbol}}">{{multSymbol}}</option>
                        <option value="{{divSymbol}}" selected>{{divSymbol}}</option>
                    </select>
                    <button id="sampleNode2" class="btn btn-default node" disabled="disabled">7</button>
                </span>

            </div>

            <p>
                For an additional challenge, turn on the timer!
            </p>

            <p>
                Click on a number box or an operation box to change its value. Boxes whose values are set at the beginning of the game may not be changed.
            </p>

            <p>
                All numbers must be positive integers (whole numbers). Be careful when using a subtract or divide operation!
            </p>
            <br>
            <h4>Good luck and happy mathing!</h4>

            <div class="myModalFooter">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>