<span id="{{index}}nodeBox" class="nodeBox btn-group btn-group-vertical">
	<button id="{{index}}node" 
	class="btn 
	{{#if node.completed}}
		{{#if node.valid }}
			btn-success
		{{else}}
			btn-danger
		{{/if}}
	{{else}}btn-default{{/if}}
	node" 
	{{#unless node.mutable}}disabled="disabled"{{/unless}}>
		{{#if node.value}}{{node.value}}{{/if}}
	</button>

	{{#if node.op}}
	<button id="{{index}}op" class="btn btn-info op"
	{{#unless node.op.mutable}}disabled="disabled"{{/unless}}>
		{{node.op.symbol}}
	</button>
	{{/if}}
</span>